@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components.Forms

@inherits InputBase<string>

<div class="form-floating">
    <input type="@Type" 
           class="form-control @CssClass" 
           id="@Id" 
           placeholder="@Placeholder" 
           value="@CurrentValueAsString" 
           @oninput="OnInput"
           @attributes="AdditionalAttributes" />
    <label for="@Id">@Label</label>
    <ValidationMessage For="@(() => CurrentValue)" class="text-danger small"/>
</div>

@code {
  [Parameter] public string Id { get; set; } = string.Empty;
  [Parameter] public string Label { get; set; } = string.Empty;
  [Parameter] public string Placeholder { get; set; } = string.Empty;
  [Parameter] public string Type { get; set; } = "text";

  protected override bool TryParseValueFromString(
    string? value, 
    out string result, 
    [NotNullWhen(false)] out string? validationErrorMessage
  ) {
    result = value ?? string.Empty;
    validationErrorMessage = null;
    return true;
  }
  
  private void OnInput(ChangeEventArgs e) {
    CurrentValueAsString = e.Value?.ToString() ?? string.Empty;
  }
}